/* Copyright 2013 by Simo Haakana http://www.github.com/siimeon */
/* All Rights Reserved */

body{
	margin:0px;
}
header{
	/*background-color: rgba(255, 255, 255, 0.6);*/
	/*border-radius: 15px;*/
	margin: 0px 30px 0px 30px;
}
nav{
	background-color: rgb(36, 78, 186);
	color:white;
	font-size:24px;
	border-bottom: 3px solid white;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none; 
  	text-align: center;
  	position: fixed;
  	width: 100%;
  	padding-bottom: 1.5%;
  	padding-top: 1.5%;
}
a{
	text-decoration: none;	
}
span a{
	color: white;
}
span{
	white-space: nowrap;
}
span.menu_item{
	font-family: 'Montserrat Alternates', sans-serif; 
	margin-right:2%;
	line-height: 2;
	margin-top: 10px;
	white-space: nowrap;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none; 
}
span.menu_item:hover{
	opacity: 0.7;
}

div.sail_cover2, div.cover, div.sail_cover, div.lapland_cover, div.salmela_cover{
	height: 900px;
	background-color: white;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div.cover{
	background-image:url('../img/cover.jpg');
}
div.sail_cover{
	background-image: url('../img/purjehdus.jpg');
}
div.lapland_cover{
	background-image: url('../img/lapland1.jpg');
}
div.salmela_cover{
	background-image: url('../img/salmela_lippu.jpg');
}
div.sail_cover2{
	background-image: url('../img/purjehdus2.jpg');
}
h1{
	text-align: center;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;

}
article.content{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}
section#lippukunta, section#toiminta, section#johtaja, section#yhteys{
	padding: 50px 50px 50px 50px;
	color: white;
	font-size:30px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
section#lippukunta{
	background-color: rgb(94, 15, 117);
}
section#toiminta{
	background-color: rgb(212, 121, 30);
}
section#johtaja{
	background-color: rgb(169, 206, 108);
}
section#yhteys{
	background-color: rgb(148, 120, 21);
}

footer{
	height: 100px;
	background-color: rgb(194, 194, 192);
	border-top: 8px solid black;
	border-bottom: 8px solid black;
}
div.footer_logo{
	float: left;
	padding: 30px 0px 0px 20px;
}
div.rights{
	float: left;
	padding: 20px 100px 0px 100px;
}
footer div p{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
footer div a{
	text-decoration: none;
	color: black;
}