/* Copyright 2013 by Simo Haakana http://www.github.com/siimeon */
/* All Rights Reserved */

/* Legacy code */
/*
@font-face{
	font-family: logo_font;
	src: url(Chunkfive.otf);
}
*/
body{
	margin:0px;
}
header{
	/*background-color: rgba(255, 255, 255, 0.6);*/
	/*border-radius: 15px;*/
	margin: 0px 30px 0px 30px;
}
div.logo_text{
	color:white;
	font-family: logo_font;
	font-size: 100px;
	transform:rotate(-25deg);
	-ms-transform:rotate(-25deg); /* IE 9 */
	-webkit-transform:rotate(-25deg); /* Safari and Chrome */
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;
	padding-top: 7%;
	padding-left: 20%;
	float: left;
}
nav{
	background-color: rgb(36, 78, 186);
	color:white;
	font-size:30px;
	border-bottom: 3px solid white;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none; 
  	text-align: center;
  	position: fixed;
  	width: 100%;
  	padding-bottom: 0.5%;
  	padding-top: 0.5%;
}
a{
	text-decoration: none;	
}
span a{
	color: white;
}
span{
	white-space: nowrap;
}
span.logo{
	font-family: 'Montserrat Alternates', sans-serif;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none; 
	margin-right:5%;
	margin-top: 5%;
	
}
span.logo:hover{
	opacity: 0.7;
}
span.menu_item{
	font-family: 'Montserrat Alternates', sans-serif; 
	margin-right:2%;
	line-height: 2;
	margin-top: 10px;
	white-space: nowrap;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none; 
}
span.menu_item:hover{
	opacity: 0.7;
}
div.logo:hover{
	opacity:0.7;
}
div.menu_button{
	height: 150px;
	width: 240px;
	background-color: rgb(37, 55, 100);
	border: 2px solid black;
	color:white;
	float: left;
	text-align: center;
	font-size: 35px;
	opacity: 1.0;
}
div.menu_button:first-child{
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}
div.menu_button:last-child{
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}
div.menu_button:hover{
	opacity: 0.7;
	border: 2px solid white;
}
div.menu_text{
	padding-top: 50px;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;

}
div.cover{
	height: 900px;
	background-color: white;
	background-image:url('cover.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div.sail_cover{
	height: 900px;
	background-color: white;
	background-image: url('purjehdus.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div.lapland_cover{
	height: 900px;
	background-color: white;
	background-image: url('lapland1.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div.salmela_cover{
	height: 900px;
	background-color: white;
	background-image: url('salmela_lippu.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div.sail_cover2{
	height: 900px;
	background-color: white;
	background-image: url('purjehdus2.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h1{
	text-align: center;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;

}
div.content{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}
div#lippukunta, div#toiminta, div#johtaja, div#yhteys{
	padding: 50px 50px 50px 50px;
	color: white;
	font-size:30px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
div#lippukunta{
	background-color: rgb(245, 234, 46 );
}
div#toiminta{
	background-color: rgb(212, 121, 30);
}
div#johtaja{
	background-color: rgb(169, 206, 108);
}
div#yhteys{
	background-color: rgb(148, 120, 21);
}

footer{
	height: 100px;
	background-color: rgb(194, 194, 192);
	border-top: 8px solid black;
	border-bottom: 8px solid black;
}
div.footer_logo{
	float: left;
	padding: 30px 0px 0px 20px;
}
div.rights{
	float: left;
	padding: 20px 100px 0px 100px;
}
footer div p{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
footer div a{
	text-decoration: none;
	color: black;
}